<div class="container">
    <h1 class="text-center">Bienvenido al chat</h1>
    <form class="text-center">
        <input type="text" name="nombre" placeholder="Nombre" required="true">
        <input type="email" id="mail-cliente" name="mail" placeholder="Email" required="true">
        <input type="text" id="chat">
        <button id="boton-enviar" type="submit">Enviar</button>
    </form>   
    <p  class="text-left" id="chat-history"></p>
</div>
