<div class="container">
    <h1 class="text-center">Bienvenido al chat</h1>
    <form class="text-center" id="form-chat">
        <input type="email" id="mail-cliente" name="mail" placeholder="Email" required="true">
        <input type="text" id="chat" placeholder="Mensaje">
        <button id="boton-enviar" type="submit" value="enviar">Enviar</button>
    </form>   
    <p  class="text-left" id="chat-history"></p>
</div>
