<div class="container">
    <h1 class="text-center">Formulario para ingresar productos</h1>
    <form class="text-center" id="form-chat">
        <input type="text" id="title-producto" name="title-product" placeholder="Title" required="true">
        <input type="numer" id="price-producto" name="price-product" placeholder="Price" required="true">
        <input type="text" id="thumbnail-producto" name="thumbnail-product" placeholder="Thumbnail">
        <button id="enviar-producto" type="submit" value="enviar">Enviar</button>
    </form>   
</div>