{{> formProductos }}
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Thumbnail</th>
            </tr>
        </thead>
        <tbody id="tabla-productos">
        </tbody>
    </table>
</div>
{{> chat }}
